body {
    text-decoration: none;
    background-color: #fcfcfc;
    color: #555555;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;


}

a {
    color: #555555;
    text-decoration: none;
    -webkit-transition: color 0.5s;
    -moz-transition:    color 0.5s;
    -ms-transition:     color 0.5s;
    -o-transition:      color 0.5s;
    transition:         color 0.5s;
}

a:hover{
    color:#1976d2;
}

.container{
    margin: 20px;
}

.navbar {
    grid-area: nav;
    display: flex;
    padding: 0px;
}

.home {
    font-size: 30px;
    margin-top: 23px;
    margin-right: auto;
    
}

.menu-container{
    padding-top: 23px;
    font-size: 20px;
}

.menu-container a {
    padding: 5px;
}


.about {
    grid-area: about;
    display: flex;
    flex-wrap: wrap;
    color: #555555;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 50px;
    margin-top: 30px;
    
}


.projects {
    grid-area: projects;
}

.projects h1{
    font-weight: normal;
    
}

.project-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    

}

.project-card{
    background-color: #fcfcfc;
    color: #555555;
    margin: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-left-style: solid;
    border-color: #1976d2;
}

.project-card a{
    font-weight: bold;
}

.contact {
    grid-area: contact;
}

.contact-container {
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    -webkit-transition: color 0.5s;
    -moz-transition:    color 0.5s;
    -ms-transition:     color 0.5s;
    -o-transition:      color 0.5s;
    transition:         color 0.5s;
}



.contact h1{
    font-weight: normal;
}



@media (min-width: 800px) {

    .container{
        margin-left: 40px;
        margin-right: 40px;
    }


    .about {
        margin-left: 50px;
    }
    .about p{
        width: 750px;
        margin-top: 80px;
        margin-bottom: 80px;
        font-size: 35px;
    }


}

@media (min-width: 1400px) {

    .container{
        width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

}