.site-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.site {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.site-content-wrapper {
  padding: 1rem;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.icon-subtitle {
  font-weight: normal;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.icon {
  font-size: 40px;
  margin: 0 1rem;
  color: #007aff;
}

.icon:hover {
  color: #0a84ff;
  transition: 0.5s;
}

.divider {
  background: rgba(130, 130, 130, 0.3);
  height: 1px;
  width: 100%;
  border-radius: 2px;
  margin: 20px auto;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1rem 1rem 0rem 1rem;
}

.site-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  flex-shrink: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 10px 20px 0px #80808073;
  height: 70vh;
}

.hero-title {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.hero-image {
  background-image: url(./images/hero_image2.jpg);
  background-size: cover;
  flex-grow: 1;
  border-radius: 15px 15px 0 0;
}

.hero-content-wrapper {
  padding: 1rem;
}

.hero-text-emph {
  font-weight: bold;
  font-size: 1.1rem;
}

.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background: inherit;
}

.hero-avatar {
  display: none;
  align-self: center;
  margin-right: 1rem;
  height: 20vh;
  width: auto;
  max-height: 100px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px 0px #80808073;
  flex-shrink: 0;
  border: 2px gray;
}

.hero-links {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  margin-bottom: 1rem;
}

.showcase {
  background: rgba(100, 100, 100, 0.5);
  border-radius: 8px;
  align-self: center;
  padding: 1rem;
  font-size: 0.9rem;
}

.section-title {
  font-weight: bold;
  font-size: 0.9rem;
  opacity: 0.7;
  margin-bottom: 0.5rem;
}

.category-title {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.site-body {
  padding: 0 1.2rem;
}

.card {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}

.card-divider {
  background: rgba(130, 130, 130, 0.2);
  height: 1px;
  width: 100%;
  border-radius: 2px;
  align-self: flex-end;
}

.card-image {
  width: 75px;
  height: 75px;
  border-radius: 13.16px;
  box-shadow: 0px 10px 20px 0px #80808073;
  margin-right: 1rem;
  flex-shrink: 0;
}

.card-title {
  font-size: 0.9rem;
  font-weight: bold;
}

.card-subtitle {
  opacity: 0.5;
  font-size: 0.8rem;
}

.card-aux {
  opacity: 0.5;
  font-size: 0.8rem;
  font-weight: bold;
}

.card-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-content {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-body {
  flex-grow: 1;
}

.card-description {
  margin-top: 0.5rem;
}

@media (min-width: 800px) {


  .title {
    margin-bottom: 1rem;
  }

  .site-wrapper {
    height: 100%;
  }

  .site-content-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
  }

  .hero {
    max-height: 500px;
  }

  .site-header {
    flex-basis: 27%;
    margin-bottom: 0;
  }

  .site-body {
    display: flex;
    flex-direction: column;
    flex-basis: 73%;
  }

  .card-image {
    width: 100px;
    height: 100px;
  }
}

@media (prefers-color-scheme: dark) {
  .site-wrapper {
    background: black;
    color: white
  }

  .hero {
    box-shadow: none;
    background-color: rgba(40, 40, 40, 1);
  }

  .hero-avatar {
    box-shadow: none;
  }

  .card-image {
    box-shadow: none;
  }
}