.site-container {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100vw;
  max-width: 100vw;
}

.site {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
}

.site-title {
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem;
}

.hero {
  border-radius: 10px;
  box-shadow: 0 5px 15px 5px rgba(100, 100, 100, 0.2);
  margin: 1rem 1rem 2rem 1rem;
  flex-direction: column;
}

.hero-image {
  border-radius: 10px 10px 0px 0;
  background-image: url("./assets/hero_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
}

.hero-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.hero-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
}

.hero-links {
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  border-top: rgba(150, 150, 150, 0.2) solid 1px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 2rem;
  color: #007aff;
}

.icon-subtitle {
  margin-top: 5px;
  font-size: 0.8rem;
}

.icon:hover {
  color: #0a84ff;
  transition: 0.5s;
}

.App-Icon {
  width: 72px;
  height: 72px;
  border-radius: 12.6322px;
}

.site-body {
  margin: 1rem;
  flex-grow: 1;
}

.Category-Title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
  width: 100%;
}

.Category {
  border-bottom: rgba(150, 150, 150, 0.2) solid 1px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.Projects-Title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  border-top: rgba(150, 150, 150, 0.2) solid 1px;
}

.light-icon {
  border: rgba(150, 150, 150, 0.2) solid 2px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dark-icon {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}

footer {
  color: rgba(130, 130, 130, 1);
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .site-wrapper {
    background: black;
    color: white;
  }

  .hero {
    box-shadow: none;
    background-color: rgba(40, 40, 40, 1);
  }

  .hero-avatar {
    box-shadow: none;
  }

  .card-image {
    box-shadow: none;
  }

  .light-icon {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
  }

  .dark-icon {
    border: rgba(150, 150, 150, 0.2) solid 2px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
}

@media (min-width: 800px) {
  .site-title {
    color: black;
    font-size: 3rem;
  }

  .site-header {
    max-width: 1920px;
    margin: auto;
  }

  .hero-container {
    background-image: url("./assets/hero_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 2rem;
    max-width: 1920px;
    margin: auto;
    width: 100%;
  }

  .hero {
    border-radius: 0;
    box-shadow: none;
    max-width: 1920px;
    margin: auto;
    background: none;
  }

  .hero-image {
    background-image: none;
    border-radius: 0;
    height: 15vh;
    display: hidden;
  }

  .hero-content {
    background: rgba(30, 30, 30, 0.95);
    width: 400px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.8);
  }

  .site-body {
    padding: 1rem 2rem;
    max-width: 1920px;
    margin: auto;
  }

  .Category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ProjectAppRow {
    flex-basis: 50%;
    padding-right: 2rem;
    box-sizing: border-box;
  }
}
